* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  color: hsl(218, 44%, 22%);
}

.card {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  max-width: 20rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card > img {
  width: 100%;
  max-width: 18rem;
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  margin-bottom: 1rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 0.9375rem;
  line-height: 1.4;
  padding: 0 1rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover,
.attribution a:focus {
  text-decoration: underline;
  color: hsl(228, 45%, 34%);
}

@media (max-width: 23.4375rem) {
  .card {
    max-width: 17.5rem;
    padding: 0.75rem;
  }

  .card > img {
    max-width: 16rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
    padding: 0 0.75rem;
  }
}
