:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  background-image: url(bg-pattern-top-mobile.svg),
    url(bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 5vw top 0, left 5vw bottom 0;
  background-color: var(--white);
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.header-container {
  margin-top: 2.5rem;
}
.header {
  text-align: center;
  color: var(--very-dark-magenta);
}
.title {
  font-size: 40px;
  font-weight: 700;
}
.subtitle {
  color: var(--dark-grayish-magenta);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.stars {
  margin-top: 0.5rem;
}
.star-ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.4rem;
  margin-left: 5px;
}
.ratings {
  width: 87.5%;
  height: 70px;
  justify-content: center;
  text-align: center;
  margin: 0.4rem;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: ;
  line-height: 0.5;
  background-color: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.rating-text {
  font-size: 18px;
  font-weight: 700;
}
.testimonials {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial {
  width: 87.5%;
  height: 250px;
  background-color: var(--very-dark-magenta);
  margin-top: 1.3rem;
  color: white;
  padding: 0.5rem;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.testimony-head {
  display: flex;
  align-items: center;
  padding-top: 1.3rem;
  padding-bottom: 1rem;
  margin-left: 20px;
}
.testimony-head > img {
  display: block;
  height: 40%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.testimonial-author {
  margin-left: 20px;
}
.testimonial-author > h2 {
  margin: 0;
  font-size: 15px;
  color: var(--light-grayish-magenta);
}
.testimonial-author > p {
  margin: 0;
  padding-top: 0.5rem;
  font-size: 15px;
  color: var(--soft-pink);
}
.testimonial-text {
  font-size: 14px;
  color: var(--light-grayish-magenta);
  line-height: 1.5;
  text-align: left;
}
.footer-attribution {
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-align: center;
  color: var(--very-dark-magenta);
}
.footer-link {
  color: hsl(228, 45%, 44%);
}
.code-writer {
  margin-left: 20px;
}

/* MEDIA QUERIES START HERE */
@media screen and (min-width: 768px) {
  body {
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-attachment: local;
    min-height: 100vh;
  }
  .container {
    max-width: 1280px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    width: 40%;
    text-align: left;
    padding-left: 2.5rem;
  }
  .title {
    line-height: 1.3;
  }
  .stars {
    display: flex;
    gap: 0.5rem;
  }
  .star {
    width: 1rem;
  }
  .star-ratings {
    display: inline-flex;
    /* width: 75%; */
    gap: 1rem;
  }
  .ratings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3px;
    width: 450px;
    height: 50px;
    margin-left: 0;
  }
  .ratings:nth-child(2) {
    margin-left: 6rem;
  }
  .ratings:nth-child(3) {
    margin-left: 12rem;
  }
  .testimonials {
    display: flex;
    flex-direction: row;

    width: 84%;
    margin-top: 2rem;
  }
  .testimonial:nth-child(1) {
    margin-left: -80px;
  }
  .testimonial:nth-child(2) {
    margin-top: 3rem;
    margin-left: 40px;
  }
  .testimonial:nth-child(3) {
    margin-top: 6rem;
    margin-left: 40px;
  }
}
